{% if postrow.MSU_SHOW_MISSING or postrow.MSU_SHOW_INACTIVE %}
{% INCLUDECSS '@verturin_missingtopicauthor/msu.css' %}
{% endif %}

{% if postrow.MSU_SHOW_MISSING %}
<div class="msu-alert" style="background: {{ postrow.MSU_MISSING_COLOR }};">
    {{ postrow.MSU_MISSING_MSG }}
</div>
{% elseif postrow.MSU_SHOW_INACTIVE %}
<div class="msu-alert" style="background: {{ postrow.MSU_INACTIVE_COLOR }};">
    {{ postrow.MSU_INACTIVE_MSG }}<br>
    <span class="msu-alert-sub">{{ lang('MSU_LAST_VISIT') }}: {{ postrow.MSU_LAST_VISIT }} &mdash; {{ postrow.MSU_INACTIVE_TEXT }}</span>
</div>
{% endif %}
